{% extends 'Teacher/Teacher_base.html'%}
{% load static%}
{% block content%}

            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center d-md-flex">
                    <div class="col-10">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-2">
                            <div class="ml-auto text-right upgrade-btn">
                                        <div class="dl">
                                            <form method='post' action="{% url 'Teacher:Teacher_view_dashboard'%}">
                                                {% csrf_token %}
                                                
                                            <select class="form-control form-control-line" onchange="this.form.submit()" name="division">

                                                <option value="0"></option>
                                                {% for i in div%}
                                                <option value="{{i.division}}">{{i.division}}</option>
                                                {% endfor %}
                                                
                                            </select>
                                        </form>
                                            
                                        </div>
                                   
                        </div>
                    </div>

                </div>
            </div>
<div class="row">
                    <!-- column -->
                <div class="col-lg-4">
                    <a class="text-dark" href="{% url 'Teacher:calculate'%}">
                    <div class="card">
                        <div class="comment-widgets scrollable">
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="card-body">
                                    <i class="mdi mdi-account-check mdi-36px" aria-expanded="false"></i><h4 class="card-title">Attendence</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>         
                                <!-- Comment Row -->
                                
                <div class="col-lg-4">
                    <a class="text-dark" href="{% url 'Teacher:students'%}">
                    <div class="card">
                        <div class="comment-widgets scrollable">
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="card-body">
                                    <i class="mdi mdi-account-multiple mdi-36px" aria-expanded="false"></i><h4 class="card-title">Student</h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>     
                

                     
                             
                <div class="col-lg-4">
                     <a class="text-dark" href="{% url 'Teacher:Email'%}">
                    <div class="card">
                        <div class="comment-widgets scrollable">
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="card-body">
                                   <i class="mdi mdi-email mdi-36px" aria-expanded="false"></i><h4 class="card-title">Email</h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>        
                                <!-- Comment Row -->
                                
                                <!-- Comment Row -->
            </div>    
                             
                    <!-- column -->
                
                    <div class="row">
                        <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Time-Table</h4>
                                        <h5 class="card-subtitle">Overview of Lectures</h5>
                                        <h5>Division: <input type="hidden" name="division" value='{{div1}}'>{{div1}}</h5>

                                    </div>
                                    
                                </div>
                                <!-- title -->
                            </div>
                            </div>
                        </div>


                    <div class="col-md-2">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">Monday</h4>
                                <div class="feed-widget">
                                    <ul class="list-style-none feed-body m-0 p-b-20">
                                        {% for i in monday %}
                                        <li class="feed-item" style="border-bottom: 1px solid;">
                                            {{i.start_time}}-{{i.end_time}}<br>
                                            {{i.type_of}}: {{i.Lec}}
                                            </li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">Tuesday</h4>
                                <div class="feed-widget">
                                    <ul class="list-style-none feed-body m-0 p-b-20">
                                        {% for i in tuesday %}
                                        <li class="feed-item" style="border-bottom: 1px solid;">
                                            {{i.start_time}}-{{i.end_time}}<br>
                                            {{i.type_of}}: {{i.Lec}}
                                            </li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">Wednesday</h4>
                                <div class="feed-widget">
                                    <ul class="list-style-none feed-body m-0 p-b-20">
                                        
                                        {% for i in wednesday %}
                                        <li class="feed-item" style="border-bottom: 1px solid;">
                                            {{i.start_time}}-{{i.end_time}}<br>
                                            {{i.type_of}}: {{i.Lec}}
                                            </li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">Thursday</h4>
                                <div class="feed-widget">
                                    <ul class="list-style-none feed-body m-0 p-b-20">
                                        {% for i in thursday %}
                                        <li class="feed-item" style="border-bottom: 1px solid;">
                                            {{i.start_time}}-{{i.end_time}}<br>
                                            {{i.type_of}}: {{i.Lec}}
                                            </li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">Friday</h4>
                                <div class="feed-widget">
                                    <ul class="list-style-none feed-body m-0 p-b-20">
                                        {% for i in friday %}
                                        <li class="feed-item" style="border-bottom: 1px solid;">
                                            {{i.start_time}}-{{i.end_time}} <br>
                                            {{i.type_of}}: {{i.Lec}}
                                            </li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Saturday</h4>
                                <div class="feed-widget">
                                    <ul class="list-style-none feed-body m-0 p-b-20">
                                        {% for i in saturday %}
                                        <li class="feed-item" style="border-bottom: 1px solid;">
                                            {{i.start_time}}-{{i.end_time}}<br>
                                            {{i.type_of}}: {{i.Lec}}
                                            </li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>




















                


                    <!-- column -->
                    </div>
                
                </div>
                

{% endblock%}